# Entorno virtual
venv/
ENV/
env/

# Archivos de configuración y secretos
.env
*.env

# Llaves de seguridad y certificados (OCI / SSH / API Keys)
*.pem
*.key
oci_config
*.crt

# Archivos temporales de Python / Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Configuración de editor de código
.vscode/
.idea/

# Modelos PKL
*.pkl
backend/*.pkl

# Entornos virtuales (Data Science)
data_science/.venv/
data_science/venv/
data_science/env/
data_science/.env

# Datos
data_science/data/*

# Modelos
data_science/models/*

# Notebooks
.ipynb_checkpoints/

# Python build
*.egg-info/
build/
dist/

# SO
.DS_Store