# --- Framework y Servidor ---
fastapi
uvicorn
pydantic
python-multipart

# --- Variables de Entorno ---
python-dotenv

# --- Machine Learning y NLP ---
joblib
scikit-learn
pandas
nltk

# --- Oracle Cloud y Base de Datos ---
oci
SQLAlchemy
oracledb

# --- Procesamiento y Extracción de Archivos ---
aiofiles
PyPDF2
pypdf
python-docx
markitdown[pdf]